@import url(reset.css);

.logo {
	background-color: blue;
}

.logo-image {
	height: 100px;
}

.courseName {
	height: 500px;
	background-image: url(coding.jpg);
	color: white;
	background-size: cover;
}

.content {
	height: 600px;
	width: 80%;
	border: 5px solid blue;
}

.mainFooter {
	background-color: blue;
	height: 100px;
	color: white;
}